@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
html {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: ghostwhite;
    text-align: center;
}

.uc h2 {
    margin: 0 auto;
    color: lightgray;
    font-weight: 300;
}
